.nav-links{
    list-style-type:none;
}
h1{
    text-align:center;
    font-size:6em;
    font-weight:normal;
}
ul,li{
    display:inline;
    margin:0;
    padding:0;
}
nav{
    display:flex;
    justify-content:space-between;
}
ul{
    flex:1;
    max-width:50%;
    display:flex;
    justify-content: space-evenly;

}
@media (max-width:576px){
    h1{
        font-size:3em;
    }
    nav{
        flex-direction:column;
    }
    nav ul{
        flex-direction:column; 
}
}
